// Zmienne kolorów
$primary-color: #007bff;
$secondary-color: #333;
$white: #fff;
$link-color: #00d0ff;
$link-hover-color: #0056b3;
$section-border-color: #ddd;
$section-box-shadow-color: rgba(0, 0, 0, 0.2);
$text-color: #333;
$subtext-color: #555;

// Zmienne fontów
$base-font-family: 'Montserrat', sans-serif;
$base-font-size: 16px;
$heading-font-size: 24px;